<p id="notice"><%= notice %></p>
<p><%= current_user.id %></p>
  <b>Following: </b>
  <%= @user.follows.map do |item|
		item.username
	  end%>
  <br />
  <br />
  <b>Followers: </b>
  <%= @user.followers.map do |item|
		item.username
	  end%>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
