<% provide(:title, "Synth | socialupvoteblog")%>
<div ng-app="splash"  ng-controller="RouteController">
  <div id="top-bar">
    <h1><a href ng-click="route('/')">SYNTH</a></h1>
    <nav>
      <h3><a href id="login-click">login</a></h3>
      <h3><a href ng-click="route('signup')">sign up</a></h3>
      <h3><a href ng-click="route('explore')">explore</a></h3>
    </nav>
  </div>
  <div id="login-slider">
    <%= form_for(:session, url: login_path) do |f| %>
      <span class="form-label">username: </span>
      <%= f.text_field :username, class: 'form-input red' %>
      <span class="form-label">password: </span>
      <%= f.password_field :password, class: 'form-input red' %>
      <span class="check-label">remember me: <%= f.check_box :remember_me, class: 'form-checkbox'%></span>

      <%= f.submit "login", class: "form-input form-submit" %>
      <% if flash[:login_error] %>
        <style>#login-slider{top:65px;}</style>
        <span class="form-label error">invalid user credentials</span>
      <% end %>
    <% end %>
  </div>

  <div class="view-container">
    <div ng-view class="splash-view"></div>
  </div>

</div>