<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title%></title>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:300italic|Open+Sans:400,300|Raleway:100,200' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
